.overlay-container{
    position: absolute;
    display: flex;
    height: 100svh;
    width: 100vw;
    background-color: hsl(0, 0%, 10%);
    flex-direction: column;
    transition-duration: 100ms;
}
#overlay-container{
    opacity: 0;
    pointer-events: none;
}
.ovl-top-bar{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}
.exit-button{
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    transition-duration: 100ms;
}
.exit-button:hover{
    filter: brightness(170%);
    transition-duration: 100ms;
}
.ovl-main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100svh - 240px);
    flex-direction: column;
}
.ovl-card-front{
    font-size: 60px;
    font-weight: 300;
    color: #e6e6e6;
    
}
.ovl-card-back{
    height: 30px;
    font-size: 22px;
    color: #cccccc;
    align-items: center;
    margin-top: 6px;
}
.ovl-card-answer{
    height: 30px;
    font-size: 22px;
    color: #cccccc;
    align-items: center;
    margin-top: 6px;
}
.ovl-card-hint{
    height: 30px;
    font-size: 22px;
    color: #cccccc;
    align-items: center;
    margin-top: 6px;
}
.ovl-bottom{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    margin-bottom: 14px;
    /*background-color: #666;*/
}
.input-field{
    display: flex;
    border-radius: 6px;
    width: 340px;
    height: 64px;
    background-color: hsla(0, 0%, 16%, 1);
    outline: 3px solid hsla(0, 0%, 30%, 0.5);
    position: relative;
    transition-duration: 100ms;
}
.ovl-input{
    width: 100%;
    background-color: transparent;
    outline: none;
    border: 0;
    padding-left: 20px;
    font-size: 20px;
    color: #e6e6e6;
    font-weight: 500;
    text-decoration: none;
    font-family: NotoJP, Inter;
    height: 100%;
    border-radius: 6px;
    outline: 3px solid hsla(0, 0%, 30%, 0);
    transition-duration: 100ms;
}
.ovl-input-arrow{
    height: 100%;
    margin-right: 10px;
    transition-duration: 100ms;
}
.ovl-input:focus{
    outline: 3px solid hsla(0, 0%, 30%, 1);
    transition-duration: 100ms;
}
.ovl-input:focus + .ovl-input-arrow{
    filter: brightness(150%);
    transition-duration: 100ms;
}


#hint-mobile{
    opacity: 0;
    pointer-events: none;
}
#bugreport-mobile{
    opacity: 0;
    pointer-events: none;
}

@media screen and (max-width: 1000px) {
    #hint-mobile{
        opacity: 1;
        pointer-events: all;
    }
    #bugreport-mobile{
        opacity: 1;
        pointer-events: all;
    }
    #hint-pc{
        opacity: 0;
        pointer-events: none;
        width: 0;
    }
    #bugreport-pc{
        opacity: 0;
        pointer-events: none;
        width: 0;
    }
    .ovl-main{
        height: calc(95svh - 240px);
    }
    #input-mobile-edit{
        margin-right: -76px;
    }
    #clock-spacer{
        display: none;
    }
}
@media screen and (max-width: 736px) {
    #stopwatch-num{
        top: 108px !important;
    }
}
@media screen and (max-width: 600px) {
    #input-field{
        width: 265px;
    }
    #input-mobile-edit{
        margin-left: -76px;
    }
}
@media screen and (max-width: 420px) {
    .overlay-container > *{
        transform: scale(0.9);
    }
    .overlay-container{
        padding-top: 10px;
        padding: -20px;
    }
    #mobile-remove-label{
        display: none;
    }
}